<div class="navigation">
    <ul>
        <li>
            <a href="/admin">
                <span class="icon">
                    <ion-icon name="logo-apple"></ion-icon>
                </span>
                <span class="title">Brand Name</span>
            </a>
        </li>
        <li>
            <a href="/admin">
                <span class="icon">
                    <ion-icon name="home-outline"></ion-icon>
                </span>
                <span class="title">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="/ct">
                <span class="icon">
                    <ion-icon name="people-outline"></ion-icon>
                </span>
                <span class="title">Customers</span>
            </a>
        </li>
        <li>
            <a href="/cate">
                <span class="icon">
                    <ion-icon name="folder-open-outline"></ion-icon>
                </span>
                <span class="title">Categories</span>
            </a>
        </li>
        <li>
            <a href="/pro">
                <span class="icon">
                    <ion-icon name="pricetags-outline"></ion-icon>
                </span>
                <span class="title">Products</span>
            </a>
        </li>
        <li>
            <a href="/ms">
                <span class="icon">
                    <ion-icon name="chatbubble-outline"></ion-icon>
                </span>
                <span class="title">Message</span>
            </a>
        </li>
        <li>
            <a href="/help">
                <span class="icon">
                    <ion-icon name="help-outline"></ion-icon>
                </span>
                <span class="title">Help</span>
            </a>
        </li>
        <li>
            <a href="/sett">
                <span class="icon">
                    <ion-icon name="settings-outline"></ion-icon>
                </span>
                <span class="title">Settings</span>
            </a>
        </li>
        <li>
            <a href="/pass">
                <span class="icon">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                </span>
                <span class="title">Password</span>
            </a>
        </li>
        <li>
            <a href="/thoat">
                <span class="icon">
                    <ion-icon name="log-out-outline"></ion-icon>
                </span>
                <span class="title">Sign Out</span>
            </a>
        </li>
        <li>
            <a href="/">
                <span class="icon">
                    <ion-icon name="paper-plane-outline"></ion-icon>
                </span>
                <span class="title">Back to Web</span>
            </a>
        </li>
    </ul>
</div>