<!DOCTYPE html>
<html lang="en">

<%- include('head.ejs') %>

    <body>
        <%- include('navbar-header.ejs') %>

            <section id="page-header" class="about-header">
                <h2>#Biết thêm về chúng tôi</h2>
                <p>Những thông tin cơ bản của cửa hàng.</p>
            </section>

            <section id="about-head" class="section-p1">
                <img src="./images/about/a6.jpg" alt="">
                <div>
                    <h2>Chúng tôi là ai?</h2>
                    <p>Là 1 trong những Local Brand đầu tiên xuất hiện tại Việt Nam, “Bad Habits” đã phải đương đầu với
                        rất nhiều thử thách và khó khăn. Thị trường đồ Quảng Châu lúc bây giờ gần như là một “bức tường
                        khổng lồ” không thể vượt qua cũng như nhận thức về “văn hóa thời trang đường phố” chưa phổ biến
                        đã tạo nên “sức ép khổng lồ” cho “Bad Habits”.

                        Bên cạnh đó câu chuyện chất liệu và xưởng in may những ngày đầu thành lập cũng là một bài toán
                        nan giải. Có những lần, họ phải “chạy xuôi chạy ngược” ngoài đường hàng tháng trời chỉ để tìm
                        một xưởng in áo ưng ý, hay những thước vải được “cắt cắt may may” hàng trăm, hàng </p>

                    <abbr title="">Nếu “Bad Habits” được ví như một “cậu trai trẻ” - luôn năng động, khám phá, sáng tạo và thách thức để tìm ra những “cái mới, cái riêng”, thì “Bad Rabbit Club” lại là một cô gái hiện đại, đầy cá tính nhưng không kém phần ngọt ngào và lãng mạn. Ra đời vào đầu tháng 1/2019, “Bad Rabbit Club” luôn được đánh giá cao bởi sự “dễ thương tuyệt đối” trong từng sản phẩm của mình. Với linh vật “Bé Thỏ” xinh xắn chiếm trọn trái tim của phái nữ, không khó hiểu khi “Bad Rabbit Club” luôn là điểm đến ưu tiên trong mỗi lần “shopping” của các bạn trẻ.</abbr>
                    <br><br>
                    <marquee bgcolor="#ccc" loop="-1" scrollamount="5" width="100%">“Bad Habits” sở hữu cho mình định hướng phong cách thời trang đường phố rõ rệt. Các sản phẩm Graphic với Artwork không những “xịn xò” mà còn mang trong đó “tiếng nói thời đại” cùng chất lượng luôn được đánh giá cao, không khó hiểu khi là một trong những local brand hàng đầu được các bạn trẻ ưa chuộng hiện nay. </marquee>
                </div>
            </section>

            <section id="about-app" class="section-p1">
                <h1>Tải ngay <a href="#">Ứng dụng</a> </h1>
                <div class="video">
                    <video autoplay muted loop src="./images/about/1.mp4"></video>
                </div>
            </section>

            <section id="feature" class="section-p1">
                <div class="fe-box">
                    <img src="./images/features/f1.png" alt="">
                    <h6>Miễn phí giao hàng</h6>
                </div>
                <div class="fe-box">
                    <img src="./images/features/f2.png" alt="">
                    <h6>Đặt hàng Online</h6>
                </div>
                <div class="fe-box">
                    <img src="./images/features/f3.png" alt="">
                    <h6>Tiết kiệm chi phí</h6>
                </div>
                <div class="fe-box">
                    <img src="./images/features/f4.png" alt="">
                    <h6>Sự thăng tiến</h6>
                </div>
                <div class="fe-box">
                    <img src="./images/features/f5.png" alt="">
                    <h6>Nhiệt tình</h6>
                </div>
                <div class="fe-box">
                    <img src="./images/features/f6.png" alt="">
                    <h6>Hỗ trợ 24/7</h6>
                </div>
            </section>

            <%- include('footer.ejs') %>

    </body>
    <script src="./javascripts/script.js"></script>

</html>