<!DOCTYPE html>
<html lang="en">

<%- include('head.ejs') %>

    <body>
        <%- include('navbar-header.ejs') %>

            <section id="page-header" class="blog-header">
                <h2>#Bài viết</h2>
                <p>Đọc tất cả các nghiên cứu điển hình về sản phẩm của chúng tôi!</p>
            </section>

            <section id="blog">
                <div class="blog-box">
                    <div class="blog-img">
                        <img src="./images/blog/b1.jpg" alt="">
                    </div>
                    <div class="blog-details">
                        <h4>Áo Hoodie Zip-Up Cotton-Jersey</h4>
                        <p>Kickstarter người đàn ông braid Godard cuốn sách tô màu. Áo ghi lê Raclette selfies năm sói chartreuse hình lục giác trớ trêu, trời ơi.</p>
                        <a href="#">XEM THÊM</a>
                    </div>
                    <h1>13/01</h1>
                </div>
                <div class="blog-box">
                    <div class="blog-img">
                        <img src="./images/blog/b2.jpg" alt="">
                    </div>
                    <div class="blog-details">
                        <h4>Áo Hoodie Zip-Up Cotton-Jersey</h4>
                        <p>Kickstarter người đàn ông braid Godard cuốn sách tô màu. Áo ghi lê Raclette selfies năm sói chartreuse hình lục giác trớ trêu, trời ơi.</p>
                        <a href="#">XEM THÊM</a>
                    </div>
                    <h1>13/01</h1>
                </div>
                <div class="blog-box">
                    <div class="blog-img">
                        <img src="./images/blog/b3.jpg" alt="">
                    </div>
                    <div class="blog-details">
                        <h4>Áo Hoodie Zip-Up Cotton-Jersey</h4>
                        <p>Kickstarter người đàn ông braid Godard cuốn sách tô màu. Áo ghi lê Raclette selfies năm sói chartreuse hình lục giác trớ trêu, trời ơi.</p>
                        <a href="#">XEM THÊM</a>
                    </div>
                    <h1>13/01</h1>
                </div>
                <div class="blog-box">
                    <div class="blog-img">
                        <img src="./images/blog/b4.jpg" alt="">
                    </div>
                    <div class="blog-details">
                        <h4>Áo Hoodie Zip-Up Cotton-Jersey</h4>
                        <p>Kickstarter người đàn ông braid Godard cuốn sách tô màu. Áo ghi lê Raclette selfies năm sói chartreuse hình lục giác trớ trêu, trời ơi.</p>
                        <a href="#">XEM THÊM</a>
                    </div>
                    <h1>13/01</h1>
                </div>
                <div class="blog-box">
                    <div class="blog-img">
                        <img src="./images/blog/b6.jpg" alt="">
                    </div>
                    <div class="blog-details">
                        <h4>Áo Hoodie Zip-Up Cotton-Jersey</h4>
                        <p>Kickstarter người đàn ông braid Godard cuốn sách tô màu. Áo ghi lê Raclette selfies năm sói chartreuse hình lục giác trớ trêu, trời ơi.</p>
                        <a href="#">XEM THÊM</a>
                    </div>
                    <h1>13/01</h1>
                </div>
            </section>

            <section id="pagination" class="section-p1">
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#"><i class="fal fa-long-arrow-alt-right"></i></a>
            </section>

            <%- include('footer.ejs') %>

    </body>

    <script src="./javascripts/script.js"></script>

</html>