<section id="newsletter" class="section-p1 section-m1">
    <div class="newstext">
        <h4>Đăng ký Bản tin</h4>
        <p>Nhận thông tin cập nhật qua Email về cửa hàng mới nhất của chúng tôi và <span>các ưu đãi đặc biệt.</span>
        </p>
    </div>
    <div class="form">
        <input type="text" placeholder="Email của bạn">
        <button class="normal">Đăng ký</button>
    </div>
</section>

<footer class="section-p1">
    <div class="col">
        <img class="logo" src="/images/logo.png" alt="">
        <h4>Liên hệ</h4>
        <p><strong>Địa chỉ:</strong>525/28 Quang Trung, P.10, Q.Gò Vấp, TP.HCM</p>
        <p><strong>Điện thoại:</strong> +01 2222 365 /(+91) 01 2345 6789</p>
        <p><strong>Giờ làm việc:</strong> 10:00 - 18:0e, Mon - Sat</p>
        <div class="follow">
            <h4>Follow us</h4>
            <div class="icon">
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest-p"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <h4>Giới thiệu</h4>
        <a href="#">Về chúng tôi</a>
        <a href="#">Thông tin giao hàng</a>
        <a href="#">Chính sách quyền riêng tư</a>
        <a href="#">Điều khoản & Điều kiện</a>
        <a href="#">Liên hệ với chúng tôi</a>
    </div>
    <div class="col">
        <h4>Tài khoản của tôi</h4>
        <a href="#">Đăng nhập</a>
        <a href="#">Xem giỏ hàng</a>
        <a href="#">Danh sách mong muốn</a>
        <a href="#">Theo dõi đơn hàng</a>
        <a href="#">Trợ giúp</a>
    </div>
    <div class="col install">
        <h4>Cài đặt ứng dụng</h4>
        <p>Từ App Store hoặc Google Play</p>
        <div class="row">
            <img src="/images/pay/app.jpg" alt="">
            <img src="/images/pay/play.jpg" alt="">
        </div>
        <p>Cổng thanh toán an toàn</p>
        <img src="/images/pay/pay.png" alt="">
    </div>
    <div class="copyright">
        <p>&circledR; 2022, Webcuabach</p>
    </div>
</footer>