<section id="header">
    <a href="/"><img src="/images/logo.png" alt=""></a>
    <div>
        <ul id="navbar">
            <li><a href="/">Trang chủ</a></li>
            <li><a href="/loai">Danh mục</a></li>
            <li><a href="/shop">Sản phẩm</a></li>
            <li><a href="/blog">Bài viết</a></li>
            <li><a href="/about">Giới thiệu</a></li>
            <li><a href="/contact">Liên hệ</a></li>
            <li><a id="lg-bag" href="/cart"><i class="fal fa-shopping-bag"></i></i></a></li>
            <a href="#" id="close"><i class="far fa-times"></i></a>
        </ul>
    </div>
    <div id="mobile">
        <a href="/cart"><i class="fal fa-shopping-bag"></i></i></a>
        <i id="bar" class="fal fa-bars"></i>
    </div>
</section>