<link rel="stylesheet" href="../stylesheets/css.css">


<div id="chitietuser"><h1>Chi tiết user</h1></div>
<script> 
    let url = `http://localhost:3000/users/<%=id%>`; 
    console.log(url);
    fetch(url)
    .then(function(res) {
        if(!res.ok) {throw new Error("Lỗi = " + res.status); }
        return res.json();
    })
    .then(function(data) {
        let str="";
        str+= "<p>Username: <b>" + data.username+"</b></p>";
        str+= "<p>Họ: <b>" + data.phone + "</b></p>";
        str+= "<p>Tỉnh: <b>" + data.diachi + "</b></p>";
        str+= "<p>Email: <b>" + data.email + "</b></p>";
        document.getElementById("chitietuser").innerHTML+=str;
        console.log(data);
    })
    .catch(function(error)  { console.log("Lỗi: ", error);})
</script>