<link rel="stylesheet" href="../stylesheets/css.css">

<div id="listuser"><h1>Danh sách users</h1></div>
<script> 
    fetch("http://localhost:3000/users/")  
    .then(function(res) {
        console.log(res); //xem thử trong console của trình duyệt nhé
        if(!res.ok) {throw new Error("Lỗi = " + res.status); }
        return res.json();
    })

    .then(function xulydulieu(data) {
    //xử lý data tùy nhu cầu
    //console.log(data);
    let str="";
    for (i in data) {
        let motuser = data[i];
        console.log(motuser);
        str +=  `<h3>${motuser.username}</h3>`;
    }//for    
    document.getElementById("listuser").innerHTML += str;
    })

    .catch(function(error)  { 
        console.log("Lỗi: ", error);
    })
    </script>