<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs') %>
    <body>
        <%- include('header.ejs') %>
            <%- include('sanpham.ejs') %>
                <%- include('footer.ejs') %>
    </body>
</html>