<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/css.css">
</head>

<body>
    <form name="frmdk" action="/thanhvien/luu" method="post">
        <h2>Đăng Kí</h2>
        <div>
            <input type="text" name="username" id="un" placeholder="Nhập username">
        </div>
        <div>
            <input type="password" name="password" id="pass" placeholder="Nhập password">
        </div>
        <div>
            <input type="text"  name="fullname" id="fullname" placeholder="Nhập Full name">
        </div>
        <div class="frame">
            <button class="custom-btn btn-5" type="submit"><span>Đăng ký</span></button>
        </div>
    </form>

</body>

</html>